n8n-workflows/N8N.json
{
  "name": "N8N",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1056,
        -368
      ],
      "id": "8488be1e-0c02-4547-b86e-dd07650aa152",
      "name": "Whatsapp tutorial",
      "webhookId": "d92cdbab-c2a6-4024-80d3-f2e856653482",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "cqhLECSyTrDj7Yiy",
          "name": "WhatsApp OAuth account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant.\nRespond in a natural and friendly tone.\nYou are talking to  {{ $json.contacts[0].profile.name }}\nAt {{ $now.toISO() }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        48,
        0
      ],
      "id": "7e96d3e5-774d-43c4-b8b0-93a693a02c0e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -112,
        224
      ],
      "id": "59db6866-e8dd-468b-9311-1f9fe349f2b7",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "w2k7RvKhYYeTnaTp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "{{$('whatsapp Trigger').item.json.messages[0].from}}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        80,
        240
      ],
      "id": "c69c790d-8835-4665-bf89-43b5bb58ccd7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4ac68894-6698-4408-90e4-5f0bf52bcac7",
              "name": "text",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -704,
        16
      ],
      "id": "e9daa56b-ceb7-4cb9-b95e-2e8f6bba3a9f",
      "name": "Text Only Prompt"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "549d4136-a01a-453d-8613-ec4e73ef08e8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f3030cf0-bc5c-4f93-b0f2-cf11bdc55be5",
                    "leftValue": "={{ $json.messages[0].image }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "94151d2d-c214-4b79-8b80-d9ec1f9124bc",
                    "leftValue": "={{ $json.messages[0].text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -784,
        -384
      ],
      "id": "e7cc0708-d7bf-4d90-9bf6-15ffc6333d2c",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -560,
        -784
      ],
      "id": "9c5ccb97-adbb-4272-87f7-5a5e03c70687",
      "name": "Get media url",
      "webhookId": "e33dbbe1-8f31-4c79-8f32-e7ca7242148a",
      "credentials": {
        "whatsAppApi": {
          "id": "JsUkbLhsZNLnrxOi",
          "name": "WhatsApp account 6"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -176,
        -784
      ],
      "id": "8164fffb-acf4-43cb-a032-87cd1c7c4d4d",
      "name": "Download Audio",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SrP01FRPSA4qAnke",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        208,
        -784
      ],
      "id": "8d2393f0-cbb1-48f7-b0d0-2629e3f14e37",
      "name": "Transcribe Audio",
      "credentials": {
        "openAiApi": {
          "id": "w2k7RvKhYYeTnaTp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b4ed423c-1dc7-4132-86c8-aec36af4e16b",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        -784
      ],
      "id": "31a2d63d-96e9-4e17-a370-ab488b821f10",
      "name": "Audio Prompt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "88baf977-9077-4976-b0b0-9eb057631e85",
              "leftValue": "[Object: {\"mime_type\": \"audio/ogg; codecs=opus\", \"sha256\": \"RpN5EEdVo53fbnYmEdhuI3xj18otHxWaHwkIAEXqJn0=\", \"id\": \"1332509534533302\", \"voice\": true}]",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        0
      ],
      "id": "2d504bac-7e2b-4363-a498-c96913476a5f",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "840313185834832",
        "recipientPhoneNumber": "+254718866683",
        "textBody": "test",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        496,
        352
      ],
      "id": "7d781470-76da-4166-a0b6-4187b8765e00",
      "name": "Respond with text",
      "webhookId": "26d1f662-46ac-4ded-8616-90209098a97e",
      "credentials": {
        "whatsAppApi": {
          "id": "JsUkbLhsZNLnrxOi",
          "name": "WhatsApp account 6"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "{{$('AI Agent').item.json.output}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        752,
        -16
      ],
      "id": "96937247-da78-41f1-a446-f01e9cb87582",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "w2k7RvKhYYeTnaTp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].image.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -400,
        -384
      ],
      "id": "1e22c101-fc97-4bc1-b8f6-f0d60a6c685f",
      "name": "Get Image Url",
      "webhookId": "c7d884e2-ab46-457f-a295-d202a4a9b5e1",
      "credentials": {
        "whatsAppApi": {
          "id": "JsUkbLhsZNLnrxOi",
          "name": "WhatsApp account 6"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -160,
        -496
      ],
      "id": "0d9bf642-3e85-4742-b50f-a81ddf7ec378",
      "name": "Download Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SrP01FRPSA4qAnke",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "=gpt-4o",
          "mode": "id"
        },
        "text": "Describe this image",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        224,
        -496
      ],
      "id": "f3a35a82-6956-48c7-a79e-69e77b2b4df9",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "w2k7RvKhYYeTnaTp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7cab9385-ceee-427e-af0c-b282ea48b9ad",
              "name": "text",
              "value": "=#The user provided the following image and text\n##image description\n{{ $json.content }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        -496
      ],
      "id": "21f9ff83-07f4-402e-8dba-2781a3b86ddb",
      "name": "Image and text prompt"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        -16
      ],
      "id": "10725505-aeb5-4b58-b11b-49447a6c0be1",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "840313185834832",
        "recipientPhoneNumber": "+254718866683",
        "messageType": "audio",
        "mediaPath": "useMedian8n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1216,
        -16
      ],
      "id": "2636944f-ac97-47c4-81a8-ed69d22fc940",
      "name": "Whatsapp Business Cloud",
      "webhookId": "84bc2b7b-b4b4-4503-897f-8b439f6bdc5e",
      "credentials": {
        "whatsAppApi": {
          "id": "JsUkbLhsZNLnrxOi",
          "name": "WhatsApp account 6"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Whatsapp tutorial": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Text Only Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get media url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Image Url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Only Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get media url": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Audio Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond with text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image Url": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Image and text prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image and text prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Whatsapp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d5abc3ac-e0d6-4fcf-bee2-f7cacf623e19",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7a1fc5d9774317ce513a57b9873a74466951af026d27b1c3e6f13a6ea5601e37"
  },
  "id": "u9cmfGkQxKJEtkDO",
  "tags": []
}